<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RaspberryPi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5,Profile=Mono"/>
  </startup>

  <applicationSettings>
    <RaspberryPi.Properties.Settings>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://192.168.1.5:10000/</value>
      </setting>
    </RaspberryPi.Properties.Settings>
  </applicationSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity"> <!--    http://www.codeproject.com/Articles/488308/UsingplusUnityplusforplusIoCplusandplusDI-->
      <!--    <typeAlias alias="[short hand name]" type="[namespace].[class], [assembly name]" />-->
      <alias alias="IGalileo" type="Galileo.Connection.IGalileo, Galileo" />
      <alias alias="Galileo"  type="Galileo.Connection.Galileo,  Galileo" />
    <container>
      <register type="IGalileo" mapTo="Galileo"/>
    </container>

  </unity>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GalileoServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="GalileoServiceBehaviour" name="RaspberryPi.Connection.Galileo">
        <endpoint address="http://192.168.1.5:10000/" binding="basicHttpBinding"
          name="GalileoEndpoint" contract="RaspberryPi.Connection.IGalileo" />
      </service>
    </services>
  </system.serviceModel>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Targets>
      <target name="File" xsi:type="File" fileName="Log.txt"/>
      <target name="Network" xsi:type="Network" address="http://192.168.1.5:10000/log"/>
      <target xsi:type="ColoredConsole" name="Console" >
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </Targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console" />
      <logger name="*" minlevel="Trace" writeTo="File" />
      <logger name="*" minlevel="Trace" writeTo="Network" />
    </rules>
  </nlog>
</configuration>